<%= form_with class: "container p-3 mx-auto", model: book do |form| %>
    <div class="mb-3 mx-5">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
        <% book.errors.full_messages_for(:title).each do |message| %>
            <div class="text-danger mt-1 ml-5"><%= message %></div>
        <% end %>
    </div>

    <div class="mb-3 mx-5">
        <%= form.label :link, class: "form-label" %>
        <%= form.text_area :link, class: "form-control", placeholder: "https://www.linktoresource.com" %>
        <% book.errors.full_messages_for(:link).each do |message| %>
            <div class="text-danger mt-1"><%= message %></div>
        <% end %>
    </div>

    <div class="mx-5 form-options">
        <%= form.submit "Add Book", class: "btn btn-outline-secondary" %>
        <%= link_to "Cancel", book, class: "btn btn-outline-danger"  %>
    </div>
<% end %>