<nav class="navbar bg-light">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <a href="https://www.flaticon.com/free-icons/library" title="Library icons created by nawicon - Flaticon"><img src="/assets/logo.png" class="logo" alt="Library icons created by nawicon - Flaticon"></a>
      <%= link_to "Linkrary", root_path, class: "navbar-brand mb-0 h1 brand" %>
      <p class="text-muted">Library of digital books </p>
    </div>
  </div>
</nav>

<a href="<%= root_path %>" class="d-block mb-3 px-3 icons"><i class="bi bi-arrow-left-short"></i></i> Back</a>


<div class="px-3"> 
  <div class="d-flex align-items-center">
    <p class="display-6 mb-2"><%= @book.title %></p>
    <div class="px-3">
      <a href="<%= edit_book_path(@book) %>" class="btn btn-outline-secondary"><i class="bi bi-pencil-fill"></i></a>
      <a class="btn btn-outline-danger" data-confirm="Are you sure you want to delete this book?" rel="nofollow" data-method="delete" href="<%= book_path(@book) %>"><i class="bi bi-trash"></i></a>
    </div>
  </div>
  <%= link_to @book.link, @book.link, :target => "_blank", class: "text-muted d-block mb-5"  %>
</div> 