<nav class="navbar bg-light p-3 mx-auto">
  <div class="container-fluid">
    <div class="d-flex align-items-center brand-name">
      <a href="https://www.flaticon.com/free-icons/library" title="Library icons created by nawicon - Flaticon"><img src="/assets/logo.png" class="logo" alt="Library icons created by nawicon - Flaticon"></a>
      <%= link_to "Linkrary", root_path, class: "navbar-brand mb-0 h1 brand" %>
      <p class="text-muted">Library of digital books </p>
    </div>
  </div>
</nav>

<a href="<%= root_path %>" class="d-block mb-3 px-3 icons"><i class="bi bi-arrow-left-short"></i></i> Back</a>


<div class="px-3"> 
  <div class="d-flex flex-column align-items-center mb-3">
    <p class="display-6 mb-2"><%= @book.title %></p>

    <div class="px-3 options">
      <a href="<%= @book.link %>" target="#" class="icon btn btn-outline-primary" title="Read" ><i class="bi bi-book"></i></a>

      <a href="<%= edit_book_path(@book) %>" class="icon btn btn-outline-secondary" title="Edit"><i class="bi bi-pencil-fill"></i></a>

      <a class=" icon btn btn-outline-danger" data-confirm="Are you sure you want to delete this book?" rel="nofollow" data-method="delete" href="<%= book_path(@book) %>" title="Delete"><i class="bi bi-trash"></i></a>
    </div>
  </div>
</div> 